html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("/public/assets/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fs-7 {
  font-size: 0.8rem !important;
}

label:has(+ input[required])::after,
label:has(+ select[required])::after {
  content: "*";
  color: red;
  margin-left: 2px;
}
