<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preguntados</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {{#estilos_especificos}}
    <link rel="stylesheet" href="{{.}}">
    {{/estilos_especificos}}
  </head>
  <body>
    {{^ocultar_header}}
    <header>Test</header>
    {{/ocultar_header}}
    <main class="flex-grow-1">