{{> header}}

<div class="container">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-xl-6">
            <div class="card shadow container rounded-4 py-3 my-3">
                <div class="row border-bottom border-secondary-subtle mb-3">
                    <div class="col d-flex flex-column align-items-center">
                        <div class="d-flex gap-2">
                            <div>
                                <img src="/public/assets/icon.png" alt="Logo Preguntados" style="width: 50px; height: auto;">
                            </div>
                            <h1 class="fs-3 fw-bold align-content-center my-0">PREGUNTADOS</h1>
                        </div>
                        <h2 class="fs-4 fw-bold my-2">Inicia sesión</h2>
                        <p class="fs-7 text-secondary">Ingresa a tu cuenta y sigue desafiando tu conocimiento</p>
                    </div>
                </div>
                <form action="/login/procesarLogin" method="POST" class="container">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="username" class="form-label fs-7 fw-bold text-secondary mb-1">Nombre de Usuario</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Ingresa tu usuario" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="pass" class="form-label fs-7 fw-bold text-secondary mb-1">Contraseña</label>
                            <input type="password" class="form-control" id="pass" name="pass" placeholder="Ingresa tu contraseña" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 fs-7 text-end">
                            <a href="/login/recuperar" class="link-success link-underline-opacity-0 fw-bold">¿Olvidaste tu contraseña?</a>
                        </div>
                    </div>
                    {{#error}}
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-danger alert-dismissible fade show rounded-3 mb-3 small" role="alert">
                                <i class="fa fa-exclamation-triangle me-2"></i> <strong>Error:</strong> {{error}}
                            </div>
                        </div>
                    </div>
                    {{/error}}
                    <div class="row mt-4 mb-3">
                        <div class="col-12">
                            <button type="submit" class="btn btn-success fs-5 fw-bold rounded-4 w-100">
                                Iniciar sesión
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 fs-7 text-center">
                            <span>¿No tienes cuenta?</span>
                            <a class="link-success link-underline-opacity-0 fw-bold" href="/usuario">Regístrate</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{> footer}}