{{> header}}

<div class="container">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-xl-6">
            <div class="card shadow container rounded-4 py-3 my-3">
                <div class="row border-bottom border-secondary-subtle pb-3">
                    <div class="col d-flex flex-column align-items-center">
                        <div class="d-flex gap-2">
                            <div>
                                <img src="{{base_url}}/public/assets/icon.png" alt="Logo Preguntados" style="width: 50px; height: auto;">
                            </div>
                            <h1 class="fs-3 fw-bold align-content-center my-0">PREGUNTADOS</h1>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 mb-3">
                    <div class="col-12 d-flex flex-column align-items-center">
                        <div class="bg-success-subtle rounded-circle p-1 mb-2">
                            <mat-icon inner-class="fs-1">check_circle</mat-icon>
                        </div>
                        <h1 class="fs-2 text-center">¡Registro exitoso!</h1>
                        <p class="text-center">Para activar tu cuenta hacé click en el siguiente enlace:</p>
                        <a class="btn btn-success d-flex align-items-center gap-2" href="{{base_url}}/registro/validar?token={{token}}">
                            <mat-icon>mail</mat-icon>
                            <span>Activar mi cuenta</span>
                        </a>
                    </div>
                </div>
                <div class="row border-top border-secondary-subtle mt-3 pt-3">
                    <div class="col-12 fs-7 text-center">
                        <span>¿Ya tenés cuenta?</span>
                        <a class="link-success link-underline-opacity-0 fw-bold" href="{{base_url}}/login">Inicia sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}
