{{>header}}

<div class="container">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-xl-6">
            <div class="card shadow container rounded-4 py-3 my-3">
                <div class="row border-bottom border-secondary-subtle">
                    <div class="col d-flex flex-column align-items-center">
                        <div class="d-flex gap-2">
                            <div>
                                <img src="/public/assets/auth/preguntados_logo_blanco.png" alt="Logo Preguntados" style="width: 50px; height: auto;">
                            </div>
                            <h1 class="fs-3 fw-bold align-content-center my-0">PREGUNTADOS</h1>
                        </div>
                        <h2 class="fs-4 fw-bold my-2">Crea tu cuenta</h2>
                        <p class="fs-7 text-secondary">Únete y empieza a desafiar tu conocimiento</p>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col">
                        <form action="/usuario/procesar" method="POST" enctype="multipart/form-data" class="container">
                            <div class="row">
                                <div class="col">
                                    <h3 class="fs-4">Datos Personales</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-3">
                                    <label for="nombre" class="form-label fs-7 fw-bold text-secondary mb-1">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required>
                                </div>
                                <div class="col-12 col-sm-6 mb-3">
                                    <label for="apellido" class="form-label fs-7 fw-bold text-secondary mb-1">Apellido</label>
                                    <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingresa tu apellido" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <label for="anio_nacimiento" class="form-label fs-7 fw-bold text-secondary mb-1">Año de Nacimiento</label>
                                    <select class="form-select" id="anio_nacimiento" name="anio_nacimiento" required>
                                        <option value="" disabled selected>Selecciona tu año</option>
                                        {{#anios}}
                                        <option value="{{anio}}">{{anio}}</option>
                                        {{/anios}}
                                    </select>
                                </div>
                                <div class="col-6 mb-3">
                                    <label for="sexo" class="form-label fs-7 fw-bold text-secondary mb-1">Sexo</label>
                                    <select class="form-select" id="sexo" name="sexo" required>
                                        <option value disabled selected>Selecciona tu sexo</option>
                                        <option value="Masculino">Masculino</option>
                                        <option value="Femenino">Femenino</option>
                                        <option value="Otro">Prefiero no decir</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm mb-3">
                                    <label for="pais" class="form-label fs-7 fw-bold text-secondary mb-1">País</label>
                                    <input type="text" class="form-control" id="pais" name="pais" readonly required placeholder="-">
                                </div>
                                <div class="col mb-3">
                                    <label for="ciudad" class="form-label fs-7 fw-bold text-secondary mb-1">Ciudad</label>
                                    <input type="text" class="form-control" id="ciudad" name="ciudad" readonly required placeholder="-">
                                </div>
                                <div class="col-auto d-flex align-items-end mb-3">
                                    <input type="hidden" name="latitud" id="latitud">
                                    <input type="hidden" name="longitud" id="longitud">
                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mapModal">
                                        <span>&#x1F5FA Mapa</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h3 class="fs-4">Datos de Ingreso</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-3">
                                    <label for="username" class="form-label fs-7 fw-bold text-secondary mb-1">Nombre de Usuario</label>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Ingresa tu usuario" required>
                                </div>
                                <div class="col-12 col-sm-6 mb-3">
                                    <label for="email" class="form-label fs-7 fw-bold text-secondary mb-1">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@correo.com" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6 mb-3">
                                    <label for="password" class="form-label fs-7 fw-bold text-secondary mb-1">Contraseña</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña" required>
                                </div>
                                <div class="col-12 col-sm-6 mb-3">
                                    <label for="password_repeat" class="form-label fs-7 fw-bold text-secondary mb-1">Repetir Contraseña</label>
                                    <input type="password" class="form-control" id="password_repeat" name="password_repeat" placeholder="Repite tu contraseña" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto d-flex align-items-center justify-content-center mb-3 pe-2">
                                    <div>
                                        <img src="/public/avatars/default.webp" class="img-thumbnail rounded-circle" style="height: 64px; width: auto;" id="avatarPreview" />
                                    </div>
                                </div>
                                <div class="col d-flex flex-column justify-content-center align-items-start mb-3 ps-2">
                                    <div class="d-flex align-items-start align-items-sm-center flex-column-reverse flex-sm-row gap-1 gap-sm-2">
                                        <label class="btn btn-outline-dark d-flex align-items-center gap-2">
                                            <i class="fa fa-upload"></i>
                                            <span>Seleccionar imagen</span>
                                            <input class="d-none" type="file" name="avatar" id="avatar" accept="image/*">
                                        </label>
                                        <span id="avatarFilename"></span>
                                    </div>
                                    <span class="text-secondary fs-7">JPG, PNG o GIF. Máx 5MB</span>
                                </div>
                            </div>
                            <div class="row mt-4 mb-3">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-success fs-5 fw-bold rounded-4 w-100">
                                        Registrarme
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 fs-7 text-center">
                                    <span>¿Ya tienes cuenta?</span>
                                    <a class="link-success link-underline-opacity-0 fw-bold" href="/usuario/login">Inicia sesión</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="width: 90%">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="mapModalLabel">Seleccioná tu ubicación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <div id="map" class="border border-dark rounded-2" style="height: 300px; width: 100%"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="modal-map-confirm">Confirmar Ubicación</button>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="/public/js/mapa-registro.js"></script>
<script>
    const avatarPreview = document.getElementById("avatarPreview");
    const avatarInput = document.getElementById("avatar");
    const avatarFilename = document.getElementById("avatarFilename");
    avatarInput.addEventListener("change", (event) => {
        const [file] = avatarInput.files;
        if (file) {
            avatarPreview.src = URL.createObjectURL(file);
            avatarFilename.textContent = file.name;
        }
    });
</script>

{{>footer}}