{{>header}}

<div class="container d-print-none">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-xl-6">
            <div class="card shadow container rounded-4 py-3 my-3">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center">Estadísticas</h1>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-auto">
                        <a href="{{base_url}}/admin/estadisticas" class="btn btn-secondary">Todas</a>
                    </div>
                    <div class="col-auto">
                        <a href="{{base_url}}/admin/estadisticas?periodo=dia" class="btn btn-secondary">Hoy</a>
                    </div>
                    <div class="col-auto">
                        <a href="{{base_url}}/admin/estadisticas?periodo=semana" class="btn btn-secondary">Esta Semana</a>
                    </div>
                    <div class="col-auto">
                        <a href="{{base_url}}/admin/estadisticas?periodo=mes" class="btn btn-secondary">Este Mes</a>
                    </div>
                    <div class="col-auto">
                        <a href="{{base_url}}/admin/estadisticas?periodo=año" class="btn btn-secondary">Este Año</a>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12 col-sm-4 pb-3">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h5 class="card-title">Total de usuarios registrados</h5>
                                <p class="card-text">{{estadisticas.totalUsuarios}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 pb-3">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h5 class="card-title">Total de partidas jugadas</h5>
                                <p class="card-text">{{estadisticas.totalPartidas}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 pb-3">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h5 class="card-title">Total de preguntas</h5>
                                <p class="card-text">{{estadisticas.totalPreguntas}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Respuestas correctas</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#estadisticas.usuariosConPorcentaje}}
                                <tr>
                                    <td>{{username}}</td>
                                    <td>{{porcentaje_correctas}}% ({{total_correctas}}/{{total_respondidas}})</td>
                                </tr>
                                {{/estadisticas.usuariosConPorcentaje}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pb-3">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column justify-content-center">
                                <img src="{{estadisticas.usuariosPorEdadChart}}" alt="Gráfico de usuarios por edad"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column justify-content-center">
                                <img src="{{estadisticas.usuariosPorPaisChart}}" alt="Gráfico de usuarios por país"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column justify-content-center">
                                <img src="{{estadisticas.usuariosPorSexoChart}}" alt="Gráfico de usuarios por sexo"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <a id="downloadPdf" href="{{base_url}}/admin/estadisticaspdf" download="estadisticas.pdf" class="btn btn-secondary">Descargar PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid d-none d-print-block">
    <div class="row my-3">
        <div class="col-12 col-sm-4 pb-3">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Total de usuarios</h5>
                    <p class="card-text">{{estadisticas.totalUsuarios}}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 pb-3">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Total de partidas</h5>
                    <p class="card-text">{{estadisticas.totalPartidas}}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 pb-3">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Total de preguntas</h5>
                    <p class="card-text">{{estadisticas.totalPreguntas}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Usuario</th>
                        <th scope="col">Respuestas correctas</th>
                    </tr>
                </thead>
                <tbody>
                    {{#estadisticas.usuariosConPorcentaje}}
                    <tr>
                        <td>{{username}}</td>
                        <td>{{porcentaje_correctas}}% ({{total_correctas}}/{{total_respondidas}})</td>
                    </tr>
                    {{/estadisticas.usuariosConPorcentaje}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pb-3">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <img src="{{estadisticas.usuariosPorEdadChart}}" alt="Gráfico de usuarios por edad"/>
                </div>
            </div>
        </div>
        <div class="col-12 pb-3">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <img src="{{estadisticas.usuariosPorPaisChart}}" alt="Gráfico de usuarios por país"/>
                </div>
            </div>
        </div>
        <div class="col-12 pb-3">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <img src="{{estadisticas.usuariosPorSexoChart}}" alt="Gráfico de usuarios por sexo"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script>document.getElementById('downloadPdf').href += window.location.search;</script>

{{>footer}}