{{>header}}

<div class="container d-print-none">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-xl-6">
            <div class="card shadow container rounded-4 py-3 my-3">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center">Estadísticas</h1>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12 col-sm-4 pb-3">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h5 class="card-title">Total de usuarios</h5>
                                <p class="card-text">{{estadisticas.totalUsuarios}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 pb-3">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h5 class="card-title">Total de partidas</h5>
                                <p class="card-text">{{estadisticas.totalPartidas}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 pb-3">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h5 class="card-title">Total de preguntas</h5>
                                <p class="card-text">{{estadisticas.totalPreguntas}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Respuestas correctas</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#estadisticas.usuariosConPorcentaje}}
                                <tr>
                                    <td>{{username}}</td>
                                    <td>{{porcentaje_correctas}}% ({{total_correctas}}/{{total_respondidas}})</td>
                                </tr>
                                {{/estadisticas.usuariosConPorcentaje}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pb-3">
                          <div class="card text-center h-100">
                              <div class="card-body d-flex flex-column justify-content-center">
                                  <canvas id="chartUsuariosPorEdad" style="max-height: 200px;"></canvas>
                              </div>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column justify-content-center">
                                <canvas id="chartUsuariosPorPais" style="max-height: 200px;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pb-3">
                        <div class="card text-center h-100">
                            <div class="card-body d-flex flex-column justify-content-center">
                                <canvas id="chartUsuariosPorSexo" style="max-height: 200px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid d-none d-print-block">
    <div class="row my-3">
        <div class="col-12 col-sm-4 pb-3">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Total de usuarios</h5>
                    <p class="card-text">{{estadisticas.totalUsuarios}}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 pb-3">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Total de partidas</h5>
                    <p class="card-text">{{estadisticas.totalPartidas}}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 pb-3">
            <div class="card text-center h-100">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Total de preguntas</h5>
                    <p class="card-text">{{estadisticas.totalPreguntas}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Usuario</th>
                        <th scope="col">Respuestas correctas</th>
                    </tr>
                </thead>
                <tbody>
                    {{#estadisticas.usuariosConPorcentaje}}
                    <tr>
                        <td>{{username}}</td>
                        <td>{{porcentaje_correctas}}% ({{total_correctas}}/{{total_respondidas}})</td>
                    </tr>
                    {{/estadisticas.usuariosConPorcentaje}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('chartUsuariosPorEdad');
  const chartUsuariosPorEdad = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ["Menores", "Adultos", "Jubilados"],
      datasets: [
        {
          data: [{{estadisticas.cantidadUsuariosEdadMenor}}, {{estadisticas.cantidadUsuariosEdadAdulto}}, {{estadisticas.cantidadUsuariosEdadJubilado}}],
        }
      ],
    },
    options: {
      responsive: true,
      plugins: {
        title: {
          display: true,
          text: 'Usuarios por grupo de edad'
        }
      }
    }
  });
  const ctx2 = document.getElementById('chartUsuariosPorPais');
  const chartUsuariosPorPais = new Chart(ctx2, {
    type: 'pie',
    data: {
      labels: [
        {{#estadisticas.usuariosPorPais}}
          "{{pais}}",
        {{/estadisticas.usuariosPorPais}}
      ],
      datasets: [
        {
          data: [
            {{#estadisticas.usuariosPorPais}}
              {{cantidad}},
            {{/estadisticas.usuariosPorPais}}
          ],
        }
      ],
    },
    options: {
      responsive: true,
      plugins: {
        title: {
          display: true,
          text: 'Usuarios por país'
        }
      }
    }
  });

  const ctx3 = document.getElementById('chartUsuariosPorSexo');
  const chartUsuariosPorSexo = new Chart(ctx3, {
    type: 'pie',
    data: {
      labels: [
        {{#estadisticas.usuariosPorSexo}}
          "{{sexo}}",
        {{/estadisticas.usuariosPorSexo}}
      ],
      datasets: [
        {
          data: [
            {{#estadisticas.usuariosPorSexo}}
              {{cantidad}},
            {{/estadisticas.usuariosPorSexo}}
          ],
        }
      ],
    },
    options: {
      responsive: true,
      plugins: {
        title: {
          display: true,
          text: 'Usuarios por sexo'
        }
      }
    }
  });
</script>

{{>footer}}