{{>header}}
<main>
  <h1>Vista de Ejemplo</h1>

  {{#ejemplos}}
  <div>
    <span>{{id}}</span> <br>
    <span>{{user}}</span> <br>
    <span>{{password}}</span> <br>
    <span>{{name}}</span> <br>
  </div>
  {{/ejemplos}}
</main>
{{>footer}}
